<div class="row" style="height:200px;">
  <div class="col">

    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="text-align: center; width:50px;">#</th>
          <th scope="col">Outlet Name</th>
          <th scope="col" style="text-align: center;">Assign Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let outlet of outlets">
          <th scope="row">1</th>
          <td>{{outlet?.name}}</td>
          <td style="text-align: center; width:200px;">
            <mat-form-field appearance="outline">
              <input matInput type="number" (change)="updateOutletValue(outlet,$event)">
            </mat-form-field>
            <p @fadeIn *ngIf="error[outlet.id]" style="font-weight: bold;font-size: 12px;color:red">*** Board
              distribution exceed assigned quantity {{assignedQuantity}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
