<div class="form-container">
    <div class="form-header">
        <p><img src="/assets/icons/all.png" style="width:25px">
            <span *ngIf="!isUpdate">New Batch Form</span>
            <span *ngIf="isUpdate">Update Batch Form</span>
        </p>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div class="form-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col">
                    <div class="org-unit-error-message" *ngIf="showOrgUnitSelectionError">Select only district level
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <tulonge-org-unit-filter-closed #ouSelector [startingOus]="startingOus"
                        [orgunit_tree_config]="orgunit_tree_config" (orgUnitUpdate)="onOrgunitSelected($event)">
                    </tulonge-org-unit-filter-closed>
                </div>
            </div>
            <br />
            <div class="row" @fadeIn *ngIf="district_council_name">
                <div class="col">
                    <app-board-collector [boardList]="boardList" [agencies]="availableAgencies" [outlets]="availableOutlets" (onItemChanges)="onItemChanges($event)"></app-board-collector>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="start_date" formControlName="start_date" [disabled]="!district_council_name">
                        <mat-datepicker-toggle matSuffix [for]="start_date" placeholder="Start Date">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #start_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="end_date" formControlName="end_date" [disabled]="!district_council_name">
                        <mat-datepicker-toggle matSuffix [for]="end_date" placeholder="End Date">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #end_date></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="form-footer">
        <app-save-area [isUpdate]="isUpdate" [isEnabled]="boards_config.length>0 && organisation_unit_id" [loading]="loading" (onCancel)="cancel()"
            (onSave)="save()">
        </app-save-area>
        <button id="closeButton" mat-button mat-dialog-close style="display: none;">Cancel</button>
    </div>
</div>
