<div class="campaign-container">
  <app-loader [message]="'  '" *ngIf="(loadCampaign$|async) == true"></app-loader>
  <app-sign-board-list [loadReference]="loadReference" [campaigns]="campaigns" [signBoardBatches]="signBoardBatches"
    (creatEditSignBoardBatch)="editSignBoardBatch($event)" (editSignBoardBatch)="updateSignBoardBatch($event)"
    (deletingSignBoardBatch)="deleteSignBoardBatch($event)" (editingCampaign)="editingCampaign($event)"
    (deletingCampaign)="deletingCampaign($event)">
  </app-sign-board-list>
  <div @fadeIn class="create-button-conatiner"
    [ngClass]="{'add-button-area-center-aligned':campaigns.length<1,'add-button-area-bottom-left-aligned':campaigns.length>0}">
    <div @fadeIn class="custom-button" *ngIf="!loadCampaignForm" (click)="createEditCampaign()">Create Campaign</div>
    <div @fadeIn class="custom-radial-button" *ngIf="loadCampaignForm">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  </div>
</div>
