<nav class="main-nav mat-elevation-z2">
  <mat-toolbar class="toolbar no-print" color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="isOpen = !isOpen" title="Toggle Menu"
      *ngIf="!(isHandset$ | async)">
      <mat-icon class="secondary-color" aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span
      style="display: inline-block; margin-top: 0px; margin-left: 17px; font-size: 33px;font-family: nunitoSemiBold;">
      AfyaCare - Bio Equipments Integration Interface
    </span>

    <span class="example-fill-remaining-space"></span>
  </mat-toolbar>
</nav>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav no-print" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async) && isOpen">
    <mat-toolbar>Sign Board</mat-toolbar>
    <mat-nav-list>
      <ng-container>
        <ng-container>
          <ng-container *ngFor="let menu of menus">
            <a mat-list-item [routerLink]="['/'+menu.url]" routerLinkActive="active-menu"
              style="font-family: nunitoLight!important;font-weight: bolder;">
              <img [src]="'/assets/icons/'+menu.icon" style="width:25px;height:25px;">
              &nbsp; {{menu.name}}
            </a>
          </ng-container>
          <mat-divider></mat-divider>
        </ng-container>
      </ng-container>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content" style="margin:1px;margin-top: 51px;height:90vh;"
      [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
