<div class="user-container">
    <!-- <app-loader [message]="'  '" *ngIf="(loading$|async) == true"></app-loader> -->
    <div class="display-pane">
        <vvs-main-data-table *ngIf="tableConfigurations.tableColumns && assignedBoardBatches"
            [tableConfigurations]="tableConfigurations" [tableList]="assignedBoardBatchesMappedList" (rowPreview)="printPreview($event)"
            (rowDelete)="deleteOutlet($event)" (rowUpdate)="updateOutlet($event)" [loading]="loading$ | async">
        </vvs-main-data-table>
    </div>
    <button class="floating-action" (click)="openDialog()" mat-fab color="primary"
        aria-label="Adding New Assignment">
        <mat-icon>add</mat-icon>
    </button>
</div>
