<div class="batch-info">
    <div style="display: inline-block;font-size:14px;">
        <div><span style="font-family: nunitoBold;">Batch Ref#:</span> {{batch?.batch_reference_number}}.</div>
        <div><span style="font-family: nunitoBold;"> District:</span> {{batch?.district_council_name}}.</div>
        <div><span style="font-family: nunitoBold;"> Agency:</span> {{batch?.agency_name}}.</div>
        <div @fadeIn *ngIf="!detailsVisible"><span style="font-family: nunitoBold;"> Total Quantity:</span>
            {{batch?.signboard_quantity}}.</div>
    </div>
    
    <div @fadeIn *ngIf="!detailsVisible" style="display: inline-block;font-size: 16px;padding:5px!important"
        class="pull-right custom-button" (click)="cancel()">close</div>&nbsp;
    <div @fadeIn *ngIf="detailsVisible" style="display: inline-block;font-size: 16px;padding:5px!important"
        class="pull-right custom-button" (click)="back()"><img src="assets/icons/arrow-left.png"
            style="width:15px;height:15px" /> Back</div>&nbsp;&nbsp;
            
</div>
<div @fadeIn *ngIf="!detailsVisible" class="batch-item-container">
    <app-sign-board-table *ngIf="tableConfigurations.tableColumns && boardItems"
        [tableConfigurations]="tableConfigurations" [tableList]="boardItems" (rowPreview)="previewSignBoard($event)"
        (rowDelete)="deleteSignBoard($event)" (rowUpdate)="updateSignBoard($event)" [loading]="loading$ | async">
    </app-sign-board-table>
    <!-- <mat-tab-group>
        <mat-tab label="All Sign Boards">
            <ng-template matTabContent>
                <app-sign-board-table *ngIf="tableConfigurations.tableColumns && boardItems"
                    [tableConfigurations]="tableConfigurations"
                    [tableList]="boardItems"
                    (rowPreview)="previewSignBoard(campaign,$event)" (rowDelete)="deleteSignBoard($event)"
                    (rowUpdate)="updateSignBoard(campaign,$event)" [loading]="loading$ | async">
                </app-sign-board-table>
            </ng-template>
        </mat-tab>
        <mat-tab label="Planted Sign Boards">
            <ng-template matTabContent>
                <app-sign-board-table *ngIf="tableConfigurations.tableColumns && boardItems"
                    [tableConfigurations]="tableConfigurations" [tableList]="[]" (rowPreview)="previewSignBoard($event)"
                    (rowDelete)="deleteSignBoard($event)" (rowUpdate)="updateSignBoard(campaign,$event)"
                    [loading]="loading$ | async">
                </app-sign-board-table>
            </ng-template>
        </mat-tab>
        <mat-tab label="Verified Sign Boards">
            <ng-template matTabContent>
                <app-sign-board-table *ngIf="tableConfigurations.tableColumns && boardItems"
                    [tableConfigurations]="tableConfigurations" [tableList]="[]" (rowPreview)="previewSignBoard($event)"
                    (rowDelete)="deleteSignBoard($event)" (rowUpdate)="updateSignBoard(campaign,$event)"
                    [loading]="loading$ | async">
                </app-sign-board-table>
            </ng-template>
        </mat-tab>
    </mat-tab-group> -->
    <button id="closeButton" mat-button mat-dialog-close style="display: none;">Cancel</button>
</div>
<div @fadeIn *ngIf="detailsVisible" class="batch-item-more-container">
    <div class="visualization-container">
        <div class="map-area">
            <google-map height="100%" width="100%" [zoom]="zoom" [center]="center" [options]="options">
                <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
                    [title]="marker.title" [options]="marker.options">
                </map-marker>
            </google-map>
        </div>
        <div class="description-area">
            <div><span style="font-family: nunitoBold;">Date to be planted: </span>
                {{boardItem?.date_to_be_planted|date:'fullDate'}}.</div>
            <div *ngIf="boardItem.sign_board_status == 'PLANTED'"><span style="font-family: nunitoBold;">Date planted:
                </span></div>
            <br />
            <div><span style="font-family: nunitoBold;">Expected location: </span><img src="assets/icons/expected.png"
                    width="24px" /> </div>
            <div><span style="font-family: nunitoBold;">Planted location: </span><img src="assets/icons/actual.png"
                    width="24px" /> </div>
            <br />
            <div><span style="font-family: nunitoBold;">Region:</span> {{outlet?.region}}.</div>
            <div><span style="font-family: nunitoBold;">District:</span> {{outlet?.district}}.</div>
            <div><span style="font-family: nunitoBold;">Ward:</span> {{outlet?.ward}}.</div>
            <div><span style="font-family: nunitoBold;">Street:</span> {{outlet?.street}}.</div>
            <div><span style="font-family: nunitoBold;">Oultet:</span> {{outlet?.name}}.</div>
            <div><span style="font-family: nunitoBold;">Status:</span> {{boardItem?.sign_board_status}}</div>
            <br />
            <div class="lower-position">
                <div >
                    <ngx-barcode6 [bc-format]="'CODE128B'" [bc-value]="boardItem?.bar_code" [bc-display-value]="false"
                    [bc-width]="1" [bc-font-size]="14">
                </ngx-barcode6> 
                </div>
                <div style="display: flex;align-items: flex-end;padding: 10px;">
                    <ng-template [authorizable]="'AGENCY_ADMIN'">
                    <div @fadeIn *ngIf="detailsVisible && boardItem?.sign_board_status == 'PENDING' && boardItem?.latitude && boardItem?.longitude"  style="display: inline-block;font-size: 16px;padding:5px!important;margin-right: 5px;"
                    class="pull-right custom-button y-center x-right" (click)="approveSignBoard()"><img src="assets/icons/approve.png"
                        style="width:15px;height:15px" /> Approve Planting</div>
                    </ng-template>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>