<div class="form-container">
  <div class="form-header">
    <p><img src="/assets/icons/batch-assignment.png" style="width:25px">&nbsp;
      <span *ngIf="!isUpdate">Creat Batch Assignment</span>
      <span *ngIf="isUpdate">Update Batch Assignment</span>
    </p>
  </div>
  <mat-divider></mat-divider>
  <br />
  <div class="form-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col">
          <app-one-sided-multi-select [config]="campaignConfig" [items]="availableCampaigns"
            (onChange)="selectCampaignChange($event)">
          </app-one-sided-multi-select>
        </div>
      </div>
      <div @fadeIn class="row" *ngIf="campaignIsSelected == true">
        <div class="col">
          <app-one-sided-multi-select [config]="agencyConfig" [items]="availableAgencies" [selected]="selectedAgencies"
            (onChange)="selecteAgencyChange($event)">
          </app-one-sided-multi-select>
        </div>
        <div class="col">
          <app-one-sided-multi-select [config]="batchConfig" [items]="availableBatches" [selected]="selectedBatches"
            (onChange)="selecteBatchChange($event)">
          </app-one-sided-multi-select>
        </div>
      </div>
      <p @fadeIn *ngIf="selectedBatch && selectedBatch?.assigned_quantity == selectedBatch?.signboard_quantity"
        style="font-weight: bold;color:red;font-size: 12px;"> *** Selected batch is exausted, no assigment allowed.</p>
      <!-- *ngIf="form.value.signboard_quantity<(selectedBatch?.assigned_quantity + assignedQuantity)" -->
      <div @fadeIn class="row">
        <!-- <div class="col">
            <app-one-sided-multi-select [config]="agencyConfig" [items]="availableAgencies"
              [selected]="selectedAgencies" (onChange)="selecteAgencyChange($event)">
            </app-one-sided-multi-select>
          </div> -->
      </div>

      <ng-container *ngIf="selectedBatch && selectedBatch?.assigned_quantity != selectedBatch?.signboard_quantity">
        <div @fadeIn class="row">
          <div class="col">
            <label>District</label>
            <tulonge-org-unit-filter-closed #ouSelector [startingOus]="startingOus"
              [orgunit_tree_config]="orgunit_tree_config" (orgUnitUpdate)="onOrgunitSelected($event)">
            </tulonge-org-unit-filter-closed>
          </div>
        </div>
        <br />
        <!-- *ngIf="(form.value.board_width || form.value.board_width) && selectedBatches.length>0" -->
        <div @fadeIn class="row" *ngIf="selectedBatch && showOrgUnitSelectionError == false && organisation_unit_id">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Board Height</mat-label>
              <input matInput type="number" readonly="readonly" placeholder="Board height"
                formControlName="board_width">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Board Width</mat-label>
              <input matInput type="number" readonly="readonly" placeholder="Board Width"
                formControlName="board_height">
            </mat-form-field>
          </div>
        </div>
        <div @fadeIn class="row" *ngIf="selectedBatch && showOrgUnitSelectionError == false && organisation_unit_id">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Total Batch Quantity</mat-label>
              <input matInput type="number" readonly="readonly" placeholder="Total Quantity"
                formControlName="signboard_quantity">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Assigned Quantity</mat-label>
              <input matInput type="number" placeholder="Assigned Quantity" formControlName="assigned_quantity"
                (change)="changeAssignedQuantity($event)">
            </mat-form-field>
          </div>
        </div>
        <p @fadeIn *ngIf="form.value.signboard_quantity < form.value.assigned_quantity"
          style="font-weight:bold;color:orange;font-size:12px">*** Assigned number of boards should not exceeds
          total quantity</p>
        <p @fadeIn
          *ngIf="form.value.signboard_quantity< +(selectedBatch?.assigned_quantity)+ (+form.value.assigned_quantity)"
          style="font-weight:bold;color:orange;font-size:12px">*** Assigned number of boards should not exceeds
          remaining unassigned quantity </p>

        <!--
          *ngIf="form.value.signboard_quantity<(selectedBatch?.assigned_quantity + assignedQuantity) && showOrgUnitSelectionError == false" -->
        <!-- <app-two-sided-multi-select [label]="'Outlets'" [availableItems]="filteredOutlets">
          </app-two-sided-multi-select> -->
        <div @fadeIn class="row" *ngIf="form.value.signboard_quantity >= form.value.assigned_quantity&& form.value.assigned_quantity">
          <div class="col">
            <app-outlet-value-assignment
            [outlets]="filteredOutlets"
            [assignedQuantity]="form.value.assigned_quantity"
            (selectedOutlet)="onOutletAssigned($event)"
            (hasError)="assignmentError($event)"
            ></app-outlet-value-assignment>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
  <br />
  <div class="form-footer">
    <app-save-area [isUpdate]="isUpdate" [isEnabled]="!hasAssignmentError && form.dirty" [loading]="loading" (onCancel)="cancel()" (onSave)="save()">
    </app-save-area>
    <button id="closeButton" mat-button mat-dialog-close style="display: none;">Cancel</button>
  </div>
</div>
