<div class="form-container">
    <div class="form-header">
        <p><img src="/assets/icons/all.png" style="width:25px">
            <span>Sign Board Details</span>
        </p>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div class="form-body">
        
        <div class="location-info">
            <div class="location-letters-info">
                <div style="margin:5px 0px 5px 0px;">
                    <div class="label" style="margin:0px 5px 0px 0px;">
                    District Name:  {{signBoard.district_council_name}}</div>
                    <div class="label" style="margin:0px 5px 0px 0px;">
                        Street Name: {{signBoard.street_name}}
                    </div>
                    <div class="label" style="margin:0px 5px 0px 0px;">
                        Latitude & Longitude: {{signBoard.latitude}}, {{signBoard.longitude}}
                    </div>
                    <div class="label" style="margin:0px 5px 0px 0px;">
                        Board height: {{signBoard.board_height}}
                    </div>
                    <div class="label" style="margin:0px 5px 0px 0px;">
                        Board Width: {{ signBoard.board_width}}
                    </div>
                </div>
                    <div>
                        
                </div>
            </div>
            <div class="location-map-info">
                <div class="label map-body">
                    <div class="map-container">
                        <google-map
                            height="200px"
                            width="100%"
                            [zoom]="zoom"
                            [center]="center"
                            [options]="options"
                            >
                            <map-marker
                                *ngFor="let marker of markers"
                                [position]="marker.position"
                                [label]="marker.label"
                                [title]="marker.title"
                                [options]="marker.options"
                            >
                            </map-marker>
                        </google-map>
                    </div>
                </div>
                <div class="label image-body">
                    <div class="image-holder">

                    <img @fadeIn *ngIf="signBoardImage" [src]="signBoardImage" style="height: 200px;"/>
                    </div>
                </div>
            </div>
            <div class="dates-info">
                <div class=""></div>
            </div>
            <div class="status-info">
                <div class=""><div class="label">Sumitted To District Authority: <mat-icon *ngIf="signBoard.government_submission_date" style="color:green;font-size: 18px;font-weight: bolder;">check</mat-icon> <mat-icon *ngIf="!signBoard.government_submission_date" style="color:red;font-size: 18px;font-weight: bolder;">close</mat-icon><span *ngIf="signBoard.government_submission_date">, Date of Submission: {{signBoard.government_submission_date}}, Status: {{signBoard.government_status}}</span></div></div>
                <div class=""><div class="label">Surveyed:<mat-icon *ngIf="signBoard.survey_date" style="color:green;font-size: 18px;font-weight: bolder;">check</mat-icon> <mat-icon *ngIf="!signBoard.survey_date" style="color:red;font-size: 18px;font-weight: bolder;">close</mat-icon><span *ngIf="signBoard.survey_date">, Survey Date: {{signBoard.survey_date}}</span></div></div>
                <div class=""><div class="label">Planted:<mat-icon *ngIf="signBoard.actual_planting_date" style="color:green;font-size: 18px;font-weight: bolder;">check</mat-icon> <mat-icon *ngIf="!signBoard.actual_planting_date" style="color:red;font-size: 18px;font-weight: bolder;">close</mat-icon><span *ngIf="signBoard.actual_planting_date">, Date planted: {{signBoard.actual_planting_date}}</span></div></div>
                <div class=""><div class="label">Verified:<mat-icon *ngIf="signBoard.verification_date" style="color:green;font-size: 18px;font-weight: bolder;">check</mat-icon> <mat-icon *ngIf="!signBoard.verification_date" style="color:red;font-size: 18px;font-weight: bolder;">close</mat-icon><span *ngIf="signBoard.verification_date">, Verification Date : {{signBoard.verification_date}}</span></div></div>
                
            </div>

            <div class="image-and-bar-code">
                <div class="bar-code-holder">
                    <ngx-barcode6
                        [bc-format]="'CODE128B'"
                        [bc-value]="barCodeValue"
                        [bc-display-value]="false"
                        [bc-width]="1"
                        [bc-font-size]="16"
                    >
                    </ngx-barcode6>
                </div>
            </div>
    </div>
    <br />
    <div class="form-footer">
        <div fadeSmooth class="custom-button danger-custom-button-color" (click)="closeDialog()">Close</div>&nbsp;
        <button id="closeButton" mat-button mat-dialog-close style="display: none;">Cancel</button>
    </div>
</div>