<div class="more-action-container">
    <div class="form-header">
        <p><img src="/assets/icons/all.png" style="width:25px">
            Sign Board Information
        </p>
    </div>
    <mat-divider></mat-divider>
    <br />
    <br />
    <div class="form-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col">Campaign: {{signBoard?.campaign_name}}</div>
                <div class="col">District: {{signBoard.district_council_name}}</div>
                <div class="col">Street: {{signBoard.street_name}}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-select (selectionChange)="actionTaken($event)">
                            <mat-option value="mark_as_planted">Mark As Planted</mat-option>
                        </mat-select>
                        <mat-label>Action</mat-label>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field @fadeIn *ngIf="showTableColumns['date_to_be_planted']" appearance="outline">
                        <mat-label>Expected Planting Date</mat-label>
                        <input matInput readonly [matDatepicker]="date_to_be_planted" formControlName="date_to_be_planted">
                        <mat-datepicker-toggle matSuffix [for]="date_to_be_planted"
                            placeholder="Expected Planting Date">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #date_to_be_planted></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field @fadeIn  *ngIf="showTableColumns['actual_planting_date']" appearance="outline">
                        <mat-label>Planting Date</mat-label>
                        <input matInput [matDatepicker]="actual_planting_date" (dateChange)="actualDateChange($event)" formControlName="actual_planting_date">
                        <mat-datepicker-toggle matSuffix [for]="actual_planting_date"
                            placeholder="Actual Planting Date">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #actual_planting_date></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field @fadeIn  *ngIf="showTableColumns['latitude']" appearance="outline" >
                        <mat-label>Latitude</mat-label>
                        <input matInput  type="number"  placeholder="Latitude" (change)="changeLatitude($event)" formControlName="latitude">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field @fadeIn  *ngIf="showTableColumns['longitude']" appearance="outline">
                        <mat-label>Longitude</mat-label>
                        <input matInput type="number" placeholder="Longitude" (change)="changeLongitude($event)" formControlName="longitude">
                      </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div @fadeIn  *ngIf="showTableColumns['take_a_photo']" >
                        <p>On field taken signboard photo:</p>
                        <div *ngIf="files.length==0" class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
                            <input hidden type="file" accept=".png,.jpg,.jpeg" #fileInput (change)="uploadFile($event.target.files)">
                          </div>
                            <div  class="files-list" *ngFor="let file of files;let i=index">
                              <div>
                                <img [src]="imageUrl" height="150px" width="80%">
                              </div>
                              <button class="delete-file" (click)="deleteAttachment(i)">
                                <img src="/assets/images/delete.png">
                              </button>
                            </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="form-footer" style="text-align: right;">
        <app-save-area @fadeIn  *ngIf="showTableColumns['save_area']" [isUpdate]="isUpdate" [loading]="loading" (onCancel)="cancel()" (onSave)="save()">
        </app-save-area>
        <button id="closeButton" mat-button mat-dialog-close style="display: none;">Cancel</button>
    </div>
</div>