<div class="dashboard-container">
  <div class="filter-visualizations">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Period Type</mat-label>
          <mat-select (selectionChange)="changePeriodType($event)">
            <mat-option value="Daily">Daily</mat-option>
            <mat-option value="Monthly">Monthly</mat-option>
            <mat-option value="Yearly">Yearly</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div @fadeIn class="col" *ngIf="showStartEndDate">
        <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div @fadeIn class="col" *ngIf="showStartEndDate">
        <mat-form-field appearance="outline">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div @fadeIn class="col" *ngIf="showMonthYear || showYears">
        <mat-form-field appearance="outline">
          <mat-label>Years</mat-label>
          <mat-select>
            <mat-option value="{{year.value}}" *ngFor="let year of years">{{year.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div @fadeIn class="col" *ngIf="showMonthYear || showYears">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-primary" [disabled]="years[0].value >= currentYear" (click)="goNextYear()">Next Year</button>
          <button type="button" class="btn btn-outline-primary" [disabled]="years[4].value <= 1970" (click)="goPrevYear()">Prev Year</button>
        </div>
      </div>
      <div @fadeIn class="col" *ngIf="showMonthYear">
        <mat-form-field appearance="outline">
          <mat-label>Months</mat-label>
          <mat-select>
            <mat-option value="Daily">Daily</mat-option>
            <mat-option value="Monthly">Monthly</mat-option>
            <mat-option value="Yearly">Yearly</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div @fadeIn class="top-visualizations">
    <div @fadeIn class="top-visualization-card">Total Sign Boards
      <div class="top-card-container">
        <div class="top-visualization-card-avatar">
          <img src="/assets/icons/all.png" style="width:60px">
        </div>
        <div class="top-visualization-card-contents">
          <mat-chip-list class="pull-right">
            <mat-chip style="font-size: larger;">{{dashboardSummary.totalBoards}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div @fadeIn class="top-visualization-card">Planted Sign Boards
      <div class="top-card-container">
        <div class="top-visualization-card-avatar">
          <img src="/assets/icons/planted.png" style="width:60px">
        </div>
        <div class="top-visualization-card-contents">
          <mat-chip-list class="pull-right">
            <mat-chip style="font-size: larger;background-color: rgb(202, 202, 6);color: black;">
              {{dashboardSummary.plantedSignBoards}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div @fadeIn class="top-visualization-card">Planted & Verified
      <div class="top-card-container">
        <div class="top-visualization-card-avatar">
          <img src="/assets/icons/planted_verified.png" style="width:50px">
        </div>
        <div class="top-visualization-card-contents">
          <mat-chip-list class="pull-right">
            <mat-chip style="font-size: larger;background-color: green;color:white;">
              {{dashboardSummary.plantedVerifiedBoards}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div @fadeIn class="top-visualization-card">Not Planted
      <div class="top-card-container">
        <div class="top-visualization-card-avatar">
          <img src="/assets/icons/not_planted.png" style="width:50px">
        </div>
        <div class="top-visualization-card-contents">
          <mat-chip-list class="pull-right">
            <mat-chip style="font-size: larger;background-color: red;color:white">{{dashboardSummary.notPlantedBoards}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </div>
  <div class="middle-visualizations">
    <div @fadeIn class="middle-visualization-map-card">
      <div class="map-title" style="padding:10px">Planted & Verified Sign Boards</div>
      <google-map height="504px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
          [title]="marker.title" [options]="marker.options">
        </map-marker>
      </google-map>
    </div>
    <div @fadeIn class="middle-visualization-status-card">
      <div class="map-title" style="padding:5px">Planting Status</div>
      <br />
      <div>
        <div @fadeIn *ngIf="statuses.length<=0">
          <div class="lines shine"></div>
          <div class="lines shine"></div>
          <div class="lines shine"></div>
          <div class="lines shine"></div>
          <div class="lines shine"></div>
          <div class="lines shine"></div>
        </div>
        <div @fadeIn *ngIf="statuses.length>0">
          <div @fadeIn *ngFor="let status of statuses" style="margin: 10px 10px;">
            <label style="font-size: 15px;font-weight: bolder;">{{status.agency_name}}</label>
            <div class="progress">
              <div class="progress-bar "
                [ngClass]="{'bg-success': status.percentage_planted>70, 'bg-warning': status.percentage_planted<50 &&  status.percentage_planted>70  , 'bg-danger': status.percentage_planted<=50}"
                role="progressbar" style="width: {{status.percentage_planted}}%"
                aria-valuenow="{{status.percentage_planted}}" aria-valuemin="0" aria-valuemax="100">
                {{status.percentage_planted}}%</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
