<div class="middle-visualizations">
    <div class="map-title" >Map preview of registered outlets: {{outlets.length}}<div style="display: inline-block;font-size: 16px;padding:5px!important" class="pull-right custom-button" (click)="cancel()">close</div></div>
    <div class="middle-visualization-map-card">
        <google-map
            height="550px"
            width="100%"
            [zoom]="zoom"
            [center]="center"
            [options]="options"
            >
            <map-marker
                *ngFor="let marker of markers"
                [position]="marker.position"
                [label]="marker.label"
                [title]="marker.title"
                [options]="marker.options"
                (click)="clickEvent($event)"
            >
            </map-marker>
        </google-map>
        <button id="closeButton" mat-button mat-dialog-close style="display: none;">Cancel</button>
    </div>
</div>