<div class="form-container">
  <div class="form-header">
    <div class="row">
      <div class="col"><img src="/assets/icons/batch-assignment.png" style="width:25px">&nbsp;
        <span >Batch Assignment</span>
      </div>
      <div class="col" style="text-align: right;">
        <div id="closeButton" class="custom-button" mat-dialog-close >Close</div>
      </div>
    </div>
    <div></div>
  </div>
  <mat-divider></mat-divider>
  <br />
  <div class="form-body">
    <div>
      <p style="font-weight: bold;">Batch Information</p>
      <table class="table table-bordered">

        <tbody>
          <tr>
            <td style="font-weight: bold;">Campaign Name:</td>
            <td>{{campaign_name}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Batch Number:</td>
            <td>{{data.currentObject.batch_reference_number}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Board Dimensions:</td>
            <td> Height: {{data.currentObject.board_height}}, Width: {{data.currentObject.board_width}} </td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Assigned Quantity:</td>
            <td> {{data.currentObject.signboard_quantity}} </td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Expected Planting Dates:</td>
            <td> {{data.currentObject.start_date}} to {{data.currentObject.end_date}}</td>
          </tr>
        </tbody>
      </table>
      <br/>
      <p style="font-weight: bold;">Outlet Distributions</p>
      <ng-container *ngFor="let outletAssignemt of outletAssignemtList;let i=index">
        <div class="row">
          <div class="col">{{i+1}}</div>
          <div class="col-11">
            <table class="table table-bordered" >

              <tbody>
                <tr>
                  <td style="font-weight: bold;">Oulet Name:</td>
                  <td>
                    {{outletAssignemt?.outlet?.name}}  - Owner:  {{outletAssignemt?.outlet?.ownerName}}
                  </td>
                </tr>
                <tr>
                  <td>Contacts:</td>
                  <td>Phone: {{outletAssignemt?.outlet?.phone}}, Box: {{outletAssignemt?.outlet?.box}}, Email: {{outletAssignemt?.outlet?.email}}</td>
                </tr>
                <tr>
                  <td>Location:</td>
                  <td>Region: {{outletAssignemt?.outlet?.region}}, District: {{outletAssignemt?.outlet?.district}}, Ward: {{outletAssignemt?.outlet?.ward}}&nbsp;&nbsp;
                  <span class="marker-button-area">
                    <i class="fa fa-map-marker"></i>
                  </span>
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Assigned Quantity:</td>
                  <td>{{outletAssignemt?.assigned_quantity}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Planted Quantity:</td>
                  <td> {{outletAssignemt?.planted_quantity}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </ng-container>

    </div>
  </div>
  <br />
  <div class="form-footer">
    <!-- <app-save-area [isUpdate]="isUpdate" [isEnabled]="!hasAssignmentError && form.dirty && !showOrgUnitSelectionError" [loading]="loading"
      (onCancel)="cancel()" (onSave)="save()">
    </app-save-area>-->
    <div style="text-align: right;">
      <div id="closeButton" class="custom-button danger-custom-button-color " mat-dialog-close >Close</div>
    </div>

  </div>
</div>
