<div class="user-container">
    <div class="display-pane">
        <vvs-main-data-table *ngIf="allTableConfigurations.tableColumns && signBoardBatches"
            [tableConfigurations]="allTableConfigurations" (rowUpdate)="editNewlyAssigned($event)"
            (rowPreview)="rowPreview($event)"
            [tableList]="signBoardBatches"
            [loading]="loading"
            >
        </vvs-main-data-table>

        <!-- <mat-tab-group>
            <mat-tab label="Newly Assigned">
                <ng-template matTabContent>
                    <vvs-main-data-table
                    *ngIf="allTableConfigurations.tableColumns && signBoardBatches"
                        [tableConfigurations]="allTableConfigurations"
                        (rowUpdate)="editNewlyAssigned($event)"
                        [tableList]="signBoardBatches">
                    </vvs-main-data-table>
                </ng-template>
            </mat-tab>
            <mat-tab label="Planted">
                <ng-template matTabContent>
                    <vvs-main-data-table
                    *ngIf="plantedTableConfigurations.tableColumns && signBoardBatches"
                        [tableConfigurations]="plantedTableConfigurations"
                        [tableList]="signBoardBatches">
                    </vvs-main-data-table>
                </ng-template>
            </mat-tab>
            <mat-tab label="Verified">
                <ng-template matTabContent>
                    <vvs-main-data-table
                    *ngIf="verifiedTableConfigurations.tableColumns && signBoardBatches"
                        [tableConfigurations]="verifiedTableConfigurations"
                        [tableList]="signBoardBatches">
                    </vvs-main-data-table>
                </ng-template>
            </mat-tab>
        </mat-tab-group> -->
    </div>
</div>
