<div class="form-container">
    <div class="form-header">
        <p ><img src="/assets/icons/agents.png" style="width:25px">&nbsp;
            <span *ngIf="!isUpdate">New Agency Form</span>
            <span *ngIf="isUpdate">Update Agency Form</span>
            </p>
    </div>
    <mat-divider></mat-divider>
    <br/>
    <div class="form-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>TIN</mat-label>
                        <input matInput placeholder="TIN" type="number" formControlName="tin">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>VRN</mat-label>
                        <input matInput placeholder="VRN" type="number" formControlName="vrn">
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="Address" formControlName="address">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="Phone" formControlName="phone">
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-one-sided-multi-select [items]="availableItems" [selected]="[]"  [config]="{label:'Organisation',allowMultiple: false,
                    autoDismiss: true}" (onChange)="onSelectionDone($event)"></app-one-sided-multi-select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>Logo Upload & Preview </div>
                </div>
            </div>
        </form>
    </div>
    <br/>
    <div class="form-footer">
        <app-save-area [isUpdate]="isUpdate" [loading]="loading" (onCancel)="cancel()" (onSave)="save()"></app-save-area>
        <button id="closeButton" mat-button mat-dialog-close style="display: none;">Cancel</button>
    </div>
</div>
