<div class="form-container">
    <div class="form-header">
        <p><img src="/assets/icons/campaign.png" style="width:25px">&nbsp;
            <span *ngIf="!isUpdate">New Campaign Form</span>
            <span *ngIf="isUpdate">Update Campaign Form</span>
        </p>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div class="form-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Reference</mat-label>
                        <input matInput placeholder="Reference" readonly formControlName="reference">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Campaign Name</mat-label>
                        <input matInput placeholder="Campaign Name" formControlName="campaign_name">
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline" style="display:none;">
                    <input matInput placeholder="Organisation" formControlName="organisation">
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="start_date" formControlName="start_date">
                        <mat-datepicker-toggle matSuffix [for]="start_date" placeholder="Start Date">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #start_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="end_date" formControlName="end_date">
                        <mat-datepicker-toggle matSuffix [for]="end_date" placeholder="End Date">
                        </mat-datepicker-toggle>
                        <mat-datepicker touchUi #end_date></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="form-footer">
        <app-save-area [isUpdate]="isUpdate" [loading]="loading" (onCancel)="cancel()" (onSave)="save()">
        </app-save-area>
        <button id="closeButton" mat-button mat-dialog-close style="display: none;">Cancel</button>
    </div>
</div>