@import '~@angular/material/theming';


$sign-board-blue-theme: (
  50: #e2f0fe,
    100: #badafc,
    200: #8ec3fa,
    300: #61acf7,
    400: #419af6,
    500: #2b8af1,
    600: #2c7ce3,
    700: #2a6acf,
    800: #2959bc,
    900: #253a9c,
    A100: #badafc,
    A200: #8ec3fa,
    A400: #419af6,
    A700: #2a6acf,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$sign-board-red-theme: (
  50: #fbfbfb,
    100: #f6f6f6,
    200: #f1f1f1,
    300: #e4e4e4,
    400: #c1c1c1,
    500: #a2a2a2,
    600: #797979,
    700: #656565,
    800: #464646,
    900: #242424,
    A100: #f6f6f6,
    A200: #f1f1f1,
    A400: #c1c1c1,
    A700: #656565,
  contrast: (
    50: $dark-secondary-text,
    100: $dark-secondary-text,
    200: $dark-secondary-text,
    300: $light-secondary-text,
    400: $light-secondary-text,
    500: $light-secondary-text,
    600: $light-secondary-text,
    700: $light-secondary-text,
    800: $light-secondary-text,
    900: $light-secondary-text,
    A100: $dark-secondary-text,
    A200: $light-secondary-text,
    A400: $light-secondary-text,
    A700: $light-secondary-text,
  )
);

