/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/bootstrap/scss/bootstrap';

@import '../node_modules/font-awesome/css/font-awesome';

@import 'styles-reset';

@import '../node_modules/@angular/material/theming';


@import './styles-reset.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/



$sign-board-primary: mat-palette($sign-board-blue-theme);
$sign-board-accent: mat-palette($sign-board-red-theme, A200, A100, A400);

// // The warn palette is optional (defaults to red).
$sign-board-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sign-board-theme: mat-light-theme((
  color: (
    primary: $sign-board-primary,
    accent: $sign-board-accent,
    warn: $sign-board-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sign-board-theme);

@font-face { font-family: nunitoRegular;
  src: url('./assets/fonts/Nunito-Regular.ttf'); }
@font-face { font-family: nunitoBold;
  src: url('./assets/fonts/Nunito-Bold.ttf'); }
@font-face { font-family: nunitoBoldItalic;
  src: url('./assets/fonts/Nunito-BoldItalic.ttf'); }
@font-face { font-family: nunitoExtraBold;
  src: url('./assets/fonts/Nunito-ExtraBold.ttf'); }
@font-face { font-family: nunitoExtraBoldItalic;
  src: url('./assets/fonts/Nunito-BoldItalic.ttf'); }
@font-face { font-family: nunitoItalic;
  src: url('./assets/fonts/Nunito-Italic.ttf'); }
@font-face { font-family: nunitoLight;
  src: url('./assets/fonts/Nunito-Light.ttf'); }
@font-face { font-family: nunitoBlack;
  src: url('./assets/fonts/Nunito-Black.ttf'); }
@font-face { font-family: nunitoSemiBold;
    src: url('./assets/fonts/Nunito-SemiBold.ttf'); }


  html, body {
    height: 100%;
    font-family: nunitoLight!important;
    // background-color: rgb(243, 242, 242);
  }
  body { margin: 0; }

  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: white !important;
  }





.model-card {
    max-height: 95vh !important;
    overflow: auto !important;
    border-radius: 10px !important;
  }

  .model-card .mat-card-content {
    margin-bottom: 5px !important;
  }

  .mat-dialog-container {
    border-radius: 10px !important;
  }

  .model-card .mat-form-field-disabled {
    opacity: 0.5 !important;
  }

  .model-card .mat-card-title {
    margin-bottom: 0 !important;
  }

  .model-card::-webkit-scrollbar {
    width: 10px !important;
  }

  .model-card::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px !important;
  }

  .model-card .model-card::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  }

  .action-button {
    height: 43px;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px 0 10px 0 !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 0!important;
  }
  .mat-form-field {
    width: 100% !important;
  }

  .mat-card-actions {
    margin-right: 5px !important;
    margin-left: 0 !important;
  }

  .mat-dialog-container {
    padding: 0 !important;
  }

  .mat-drawer-inner-container {
    overflow: hidden!important;
  }

  .mat-drawer-inner-container:hover {
    overflow: auto!important;
  }


  .mat-drawer-inner-container::-webkit-scrollbar {
    width: 8px !important;
  }

  .mat-drawer-inner-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px !important;
  }

  .mat-drawer-inner-container .model-card::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  }

  .success {
    background-color: green !important;
  }

  .error {
    background-color: rgba(250, 69, 0, 0.5) !important;
  }

  .warning {
    background-color: rgba(250, 207, 26, 0.54) !important;
  }
  .floating-action{
    position: fixed !important;
    right: 10px;
    bottom: 20px;
  }

  .no-click-backdrop {
    pointer-events: none;
  }

.form-container{
  padding:10px;
}

.form-header{
  font-family: nunitoBold;
}

.form-footer{
  padding-top:10px;
  padding-bottom: 5px;
}

.custom-button{
  padding:10px;
  text-align: center;
  font-family: nunitoBold;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) !important;
  display: inline;
}

.custom-button:hover{

  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5) !important;
}

.primary-custom-button-color{
  color: white;
  background-color: rgba(97,172,247);
}

.primary-custom-button-color:active{
  color: white;
  background-color: rgb(117, 186, 255);
}

.secondary-custom-button-color{
  color: white;
background-color: #656565;
}
.secondary-custom-button-color:active{
  background-color: #525151;
  color: white;
  }

.warning-custom-button-color{
background-color:rgb(248,204,81);
color: white;
}

.warning-custom-button-color:active{
  background-color:rgb(248, 198, 61);
  }

.danger-custom-button-color{
  background-color:rgb(255, 0, 0);
  color: white;
}

.danger-custom-button-color:active{
  background-color:rgb(247, 101, 101);
  color: white;

}

.disabled-custom-button-color{
  background-color: #e4e4e4;
}

.display-pane{
  padding:5px;
  background-color: white;
  // margin-top: px;
  margin: 4px;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) !important;
  min-height:600px ;
}

.mat-tab-label-active {
  font-weight: bolder !important;
  background-color: rgba($color: #000000, $alpha: 0.1) !important;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  opacity: 0.8 !important;
  height: 35px!important;
  font-family: nunitoBold;
}

.mat-tab-label {
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  margin-right: 8px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2) !important;
  border-bottom: 0px !important;
  height: 35px!important;
  font-family: nunitoBold;
}

.custom-radial-button{
  padding:10px;
  text-align: center;
  font-family: nunitoBold;
  border-radius: 30px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) !important;
  display: inline;
}

.form-body{
  padding:20px;
}


.mat-icon{
  vertical-align: middle;
}
