<app-header [title]="'Campaings'" [label]="'assets/icons/campaign.png'"></app-header>
<app-campaign 
[agencies]="agencies$|async" 
[agencyEntities]="agencyEntities$|async"
[outlets]="outlets$|async" 
[outletEntities]="outletEntities$|async"
[campaigns]="campaigns$|async"
[campaignEntities]="campaignEntities$|async"
[userOrganisation]="userOrganisation$|async"
[signBoards]="signBoards$|async"
[signBoardBatches]="signBoardBatches$|async"
[signBoardBatchEntities]="signBoardBatchEntities$|async"
></app-campaign>