<div class="form-container">
    <div class="form-header">
        <p ><img src="/assets/icons/organisations.png" style="width:25px"> 
            <span *ngIf="!isUpdate">New Organisation Form</span>
            <span *ngIf="isUpdate">Update Organisation Form</span>
            </p>
    </div>
    <mat-divider></mat-divider>
    <br/>
    <div class="form-body">
        <form>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>TIN</mat-label>
                        <input matInput placeholder="TIN">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>VRN</mat-label>
                        <input matInput placeholder="VRN">
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="Address">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="Phone">
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>Logo Upload & Preview </div>
                </div>
            </div>
        </form>
    </div>
    <br/>
    <div class="form-footer">
        <app-save-area [isUpdate]="isUpdate" [loading]="loading" (onCancel)="cancel()" (onSave)="save()"></app-save-area>
        <button id="closeButton" mat-button mat-dialog-close style="display: none;">Cancel</button>
    </div>
</div>